
/* Navigation bar
.custom-navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
} */

/* Home section */
#home {
    background: url(../img/hero.jpg);
    background-size: cover;
    height: 100vh;
}

body [data-aos-delay='8000'][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay='8000'].aos-animate {
    transition-delay: 8s;
}

/* About section */
#about {
    padding: 100px 0;
    height: 120vh;
    background-color: #000000;
}

.about-img-div img {
    margin: 0 auto;
}

.about-border {
    position: absolute;
    border: 5px solid #2C85C6;
    width: 350px;
    height: 355px;
    top: 80px;
    left: 50px;
    z-index: 1;
    border-radius: 80%;
}

/* Style social icons */
.fa {
  padding: 12px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  background: #2C85C6;
  color: white;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}


/* Questions section */
#questions {
    padding: 100px 0;
    height: 100vh;
    background-color: #FFFFFF;
}
